{% extends "base.html" %}

{% block page_content %}

<div style= "margin: 100px;">
   <h3 class="text-muted"></h3>
   <!-- START THE FEATURETTES -->

   <div class="row featurette">
     <div class="col-md-7">
       <h2 class="featurette-heading"><span class="text-muted">About Us</span></h2>
       <p class="lead">
          Evergreen Tradesource is a wholesale exporter and importer of Tree nuts based out of New Jersey, USA.
          Our focus is to source branded goods from the Americas at low and competitive prices to satisfy the ever increasing
          demand worldwide. We carry a wide range of both food and non-food products. We specialize in full line groceries, confectionery,
          and non-food items with consistent availability, exceptional lead times and maximum product shelf life.We’re able to supply
          over 20,000 products including Nestle, Kraft, P&G, Unilever, Pepsi, General Mills and many, many more.
       </p>
     </div>
     <div class="col-md-5">
       {% load static %}
       <img src ="{% static "cracking_open.jpg" %}" alt="First Slide" width="500" height="500">
     </div>
   </div>

   <hr class="featurette-divider">

   <div class="row featurette">
     <div class="col-md-7 order-md-2">
       <h2 class="featurette-heading"><span class="text-muted">What we offer:</span></h2>
       <p class="lead">
         1. Superior high quality American manufactured foods. <br/>
        2. Timely, consolidated, palletized-deliveries direct to your ports around the world. <br/>
        3. Export documentation and compliance support. <br/>
        4. Product labeling and date-coding. <br/>
        5. High quality service, attention to details and meeting our customers requirements is always our priority. <br/>
       </p>
     </div>
     <div class="col-md-5 order-md-1">
       {% load static %}
       <img src ="{% static "sorting_delivery.jpg" %}" alt="First Slide" width="500" height="500">
     </div>
   </div>

   <hr class="featurette-divider">

   <div class="row featurette">
     <div class="col-md-7">
       <h2 class="featurette-heading"> <span class="text-muted"> Our expertise</span></h2>
       <p class="lead">
         Hudson has the expertise to prepare products for seamless export to the Middle East and Asia, and boasts modern in-house date coding
         and labeling facilities. Our proximity to one of the world’s busiest ports also allow us to offer you extremely competitive shipping
         rates from the United States to anywhere in the world. Moreover, we’re able to obtain all necessary documentation required in the
         Middle East, such as Health Certificates, Certificates of Free Sale and Certificates of Origin so we can minimize disruptions
         typically associated with importing.
       </p>
     </div>
     <div class="col-md-5">
      <img src ="{% static "edison_tower.jpg" %}" alt="First Slide" width="500" height="500">
     </div>
   </div>

   <hr class="featurette-divider">

   <!-- /END THE FEATURETTES -->

</div>

{% endblock %}
